.header {
    background-color: lightgrey;

    height: 80px;
    display: flex;
    justify-content: center;

}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    border: 1px solid;
    align-items: center;
}

.headerMenu {
    width: 400px;
    display: flex;
    justify-content: space-between;


}
